{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/add" method="get">
    <input type="submit" value="Add guest"/>
    </form>
    {% if not guests %}
        <h2>нет гостей</h2>
    {% endif %}

    {% for guest in guests %}
        <div class="guestbox">
            <p>{{ guest.name }} ({{ guest.email }})</p>
            <p>{{ guest.text }}</p>
            <a href="/remove" method="GET">remove guest</a>
        </div>
    {% endfor %}
</div>
{% endblock content %}
